.pw-reset {
  width: 398px;
  height: 460px;
  padding: 100px 20px 0 16px;
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
}

#pw-header {
  height: 158px;
  /* border: 2px solid green; */
  font-size: 40px;
  font-weight: 300;
  line-height: 70px;
  padding: 13px 0;
}

.reset-text {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
}
.pw-reset-form {
  font-size: 11px;
}

.pw-reset-email {
  margin-bottom: 16px;
  width: 358px;
  height: 42px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #bba293;
  border-top: 1px solid #bba293;
  border-right: 1px solid #bba293;
  border-bottom: 1px solid #bba293;
  border-left: 1px solid #bba293;
  padding-left: 10px;
}

.pw-reset-email::placeholder {
  color: #bba293;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.pw-reset-submit {
  height: 35px;
  width: 93px;
  color: #e6e6d6;
  background-color: #5e5047;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 0.05px ridge;
  border-color: #e6e6d6;
  margin-bottom: 30px;
}

.pw-reset-cancel {
  padding-top: 14px;
  height: 80px;
  font-size: 14px;
  line-height: 25px;
}
