.circle {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  cursor: pointer;
}

.circle-selected {
  border: 2px solid #5e5047;
}

/* SUPER SKIN SERUM */

.SKYE {
  background-color: #f4dab5;
}

.RENDEZVOUS {
  background-color: #f6e1cd;
}

.TULUM {
  background-color: #e7ceb5;
}

.SOMBRIO {
  background-color: #f2caa0;
}

.BALOS {
  background-color: #e4c7b1;
}

.FORMOSA {
  background-color: #dab38d;
}

.BOM {
  background-color: #d2ad89;
}

.ORA {
  background-color: #e8b78a;
}

.KAI {
  background-color: #efb187;
}

.DIAZ {
  background-color: #cda787;
}

.SHELA {
  background-color: #cda176;
}

.PALOMA {
  background-color: #c49b71;
}

.BAIKAL {
  background-color: #dfa771;
}

.PORTO-F {
  background-color: #ca9462;
}

.MATIRA {
  background-color: #b3865e;
}

.MORGAT {
  background-color: #cf935e;
}

.KOKKINI {
  background-color: #ad7d58;
}

.RAMLA {
  background-color: #d08754;
}

.PAPAKOLEA {
  background-color: #c7895b;
}

.KAMARI {
  background-color: #c68b66;
}

.RIALTO {
  background-color: #d3814b;
}

.DOMINICA {
  background-color: #9b552b;
}

.HONOPU {
  background-color: #ad6c3f;
}

.PORTO {
  background-color: #88572e;
}

.PAVONES {
  background-color: #804c3b;
}

.JARDIN {
  background-color: #975030;
}

.MIHO {
  background-color: #653a2b;
}

.PERISSA {
  background-color: #77422e;
}

.ROQUE {
  background-color: #50362a;
}

.LOVINA {
  background-color: #583a2e;
}

/* MULTI STICK */

.TENDERLY {
  background-color: #f79da4;
}

/* AT LAST */
.AT {
  background-color: #c96d74;
}

.LADY {
  background-color: #a55555;
}

/* A FINE ROMANCE */
.A {
  background-color: #8c363d;
}

.DREAMER {
  background-color: #bc6351;
}

/* ALL OF ME  */
.ALL {
  background-color: #cd4c48;
}

/* CHEEK TO CHEEK */
.CHEEK {
  background-color: #ce4e40;
}

/* I PUT A SPELL ON YOU */
.I {
  background-color: #fe7f5a;
}

/* LIP BALM  */

.HOLD {
  background-color: #d77269;
}

.LULLABY {
  background-color: #b53952;
}

.RUNAWAY {
  background-color: #b25055;
}

.MEMOIR {
  background-color: #9c444a;
}

.HEARTBEATS {
  background-color: #aa1a21;
}

.LADY {
  background-color: #992c33;
}

.WANDERLUST {
  background-color: #89232e;
}

.FADED {
  background-color: #8a4436;
}

/* MASCARA */

/* after midnight */
.AFTER {
  background-color: black;
}

/* BRUSHES */

.BLENDING {
  background-image: url("../Assets/blendingBrush.png");
}

.SHADOW {
  background-image: url("../Assets/shadowBrush.png");
}

.COMPLEXION {
  background-image: url("../Assets/complexionBrush.png");
}

.PERFECTING {
  background-image: url("../Assets/perfectingBuffBrush.png");
}

.FINISHING {
  background-image: url("../Assets/finishingPowderBrush.png");
}
